body,
h1 {
  padding: 0px;
  margin: 0px;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.header-bg {
  background-color: rgb(17, 17, 17);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}
nav .header-menu {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.header h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  border-bottom: 4px solid blue;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.header a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.header a:hover {
  color: blue;
}
@media (max-width: 550px) {
  nav .header-menu {
    gap: 6px;
  }
  .header a {
    font-size: 0.9em;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    color: black;
  }
}
.fotos {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 10px;
  padding-bottom: 60px;
}
.fotos h1 {
  padding-bottom: 40px;
  text-align: center;
  font-size: 2.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.about {
  margin-top: 60px;
  border-top: 2px solid blue;
}
.about h1 {
  margin-top: 40px;
}
.about-text {
  background-color: rgba(128, 128, 128, 0.199);
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.212);
}
.about-text span {
  color: blue;
  text-transform: uppercase;
  background-color: white;
  padding: 2px;
  font-weight: bold;
}
.about-text p {
  font-size: 1.3em;
  font-weight: bold;
  font-style: italic;
}
.grid-template-areas {
  max-width: 960px;
  background-color: blue;
  grid-template-columns: auto;
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "headeer navigation"
    "section section"
    "footer footer";
}
.item {
  margin: 10px;
  background-color: red;
  padding: 50px;
  text-align: end;
}
.headeer {
  grid-area: headeer;
}
.navigation {
  grid-area: navigation;
}
.section {
  grid-area: section;
}
.footer {
  grid-area: footer;
}
.grid {
  max-width: 600px;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}
.item1 {
  padding: 10px;
  color: blueviolet;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.item2 {
  padding: 10px;
  color: blueviolet;
  grid-column: 2;
}
.item3 {
  padding: 10px;
  color: blueviolet;
  grid-column: 2;
  text-align: end;
}
.fechar {
  background-color: black;

  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}
.fechar p {
  color: white;
  align-self: end;
  font-size: 1.4em;
  font-weight: bold;
  border-top: 3px solid blue;
  padding-top: 10px;
}
.fechar .img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 60px;
}
.fechar h1 {
  color: white;
  padding-top: 40px;
  font-size: 2.8em;
  letter-spacing: 0.4em;
}
.fechar h2 {
  color: rgb(171, 1, 177);
  padding-top: 40px;
  font-size: 2.8em;
  letter-spacing: 0.2em;
  text-align: end;
}
.fechar h1 span {
  color: blue;
}
